<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764410491702-h1d6feqr47kcm0vjrjut8ib425b69vr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764410491702-h1d6feqr47kcm0vjrjut8ib425b69vr6</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Lu3u4GMGlYd9-kgrAi4g1aJ9Df6ssPo</string>
	<key>GCM_SENDER_ID</key>
	<string>764410491702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rapido</string>
	<key>PROJECT_ID</key>
	<string>rafido-8216c</string>
	<key>STORAGE_BUCKET</key>
	<string>rafido-8216c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764410491702:ios:bff5735c300706b36db997</string>
</dict>
</plist>